mat-form-field {
    width: 300pxmat-form-field;
}


/* .signup-form {
    width: 300px;
} */



/* #container {
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.child {
    width: 200px;
    height: 200px;

}

#child1 {
    background-color:red;
  
}
#child2 {
    background-color:blue;
}
#child3 {
    background-color:green;
} */
