<h1>We are on home Page!!</h1>
<h2>---WELCOME---</h2>
<p>home works!</p>

<div>
    <p>Slide away--</p>
    <mat-slider min="1" max="100" step="2" value="2"></mat-slider>
</div>

<div>
    <p>Button -- </p>
    <button mat-button>Normal Button</button>
    <button mat-raised-button>Raised Button</button>
    <button mat-button color="accent">Accent Button</button>
    <button mat-icon-button color="accent" aria-label="Example icon-button with a heart icon">
        <mat-icon>home</mat-icon>
      </button>
</div>